<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.feedhenry.phonegap.osmap"
    version="0.1.0">
    <name>OSMap PhoneGap Plugin</name>
    <description>Ordnance Survey Map Loader retriving base64 encoded image from OS Map SDK</description>
    <js-module src="www/js/osmap.js" name="osmap">
      <clobbers target="osmap"/>
    </js-module>
    <asset src="www/prod/prod.css" target="osmap.css"/>
    <asset src="www/prod/prod.js" target="osmap.js"/>
    <asset src="www/css/osmapimages" target="osmapimages"/>
    <platform name="android">
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="OSMap">
          <param name="android-package" value="com.feedhenry.phonegap.OSMap"/>
        </feature>
      </config-file>
      <source-file src="src/android/OSMap.java" target-dir="src/com/feedhenry/phonegap" />
      <source-file src="src/android/osofflinetilefetcher.jar" target-dir="libs" framework="true" />
      <source-file src="src/android/support-v4.19.jar" target-dir="libs" framework="true" />
    </platform>
</plugin>
